<div ng-app="main" class="automag-app">
  <div class="view-container">
    <div class="off-canvas-wrap">
      <div class="inner-wrap">
        <div class="fixed">
          <nav class="tab-bar">

            <section class="middle tab-bar-section">
               <h1 class="title">מגזין אוטו</h1>
            </section>

            <section class="right-small">
               <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
            </section>
          </nav>
        </div>


        <aside class="right-off-canvas-menu text-right" ng-controller="NavCtrl">
          <ul class="off-canvas-list">
            <li><label>תפריט</label></li>
            <li ng-repeat="nav in navs"><a href="{{nav.route}}">{{nav.name}}</a></li>
          </ul>
        </aside>


        <section ng-view class="main-section" style="margin-top:45px;height:100%">
          <!-- content goes here -->
        </section>

        <a class="exit-off-canvas"></a>

        </div>
     </div>
  </div>
</div>
