<div ng-controller="ArticleListCtrl" class="container">
  <div ng-repeat="ac in articles" >
    <div class="row border-bottom">
      <div class="twelve columns">
        <h5>{{ac.category}}</h5>
      </div>
    </div>

    <div ng-repeat="a in ac.art" class="row border-bottom">
      <a href="#articles/{{a.articleId}}">
      <div class="small-4 large-2 columns">
        <img  class="th" ng-src="{{a.imageUrl}}" >
      </div>
      <div class="small-8 large-10 columns">
          <h6>{{a.title}}</h6>
      </div>
      </a>
    </div>

    <div class="row border-bottom">
      <div class="twelve columns text-left">
         <a href="#articles/category/{{ac.art[0].categoryId}}" >
           <span>עוד...</span>
         </a>
      </div>
    </div>
</div>
</div>
