<div ng-controller="AllManufacturerModelsCtrl" class="container" ng-show="models.length" ng-cloak>
    <div ng-repeat="m in models" class="row border-bottom">
        <a href="#/catalog/models/{{m.model_id}}" ng-click="setModelId(m)">
        <div class="small-4 columns">
            <img  class="th radius" ng-src="{{m.image_url}}" >
        </div>
        <div class="main small-8 columns text-justify">
            <h5 class="text-right">{{m.name}}</h5>
            <p class="text-left" texthtmlparser texthtml="{{m.price}}"></p>
        </div>
        </a>
    </div>
</div>
