<div ng-controller="ArticleListCtrl" class="container" ng-show="articlesCategoriesCollection" ng-cloak>
  <div  ng-repeat="category in articlesCategoriesCollection">
    <div class="row border-bottom">
      <div class="twelve columns">
        <h5 ng-bind="category.categoryName"></h5>
      </div>
    </div>

    <div ng-repeat="article in category.articles" class="row border-bottom">
      <a href="#articles/{{article.articleId}}">
      <div class="small-4 large-2 columns">
        <img  class="th" ng-src="{{article.imageUrl}}" >
      </div>
      <div class="small-8 large-10 columns">
        <h6 ng-bind="article.title"></h6>
      </div>
      </a>
    </div>

    <div class="row border-bottom">
      <div class="twelve columns text-left">
       <a href="#articles/category/{{category.articles[0].categoryId}}" >
        <span>עוד...</span>
       </a>
      </div>
    </div>
  </div>
</div>
