<div ng-controller="BuyingGuideCtrl">
  <div ng-repeat="nav in navsData" class="row">
    <span class="small-10 columns button round radius success expand text-center" ng-bind="nav.title" ng-click="showFilter(nav.key)"></span>
  </div>
  <div class="row">
    <a href='#/guide/search' class="small-6 columns button round primary text-center" ng-click="search()">חפש</a>
    <span class="small-6 columns button round secondary text-center">נקה בחירה</span>
  </div>

  <div class="row" ng-show="showScroll">
    <div class="small-13 columns">
      <span class="small-3 small-centered columns button tiny success radius round" ng-click="setFilterSelected()">בחר</span>
    </div>
    <div class="breadcrumbs scrollview">
      <a href='' class="breadcrumbs end small-12 columns text-right" ng-repeat="item in collection" ng-click="filterSelected(item.value)">
        <p>{{item.title}}</p>
      </a>
    </div>
  </div>
</div>