<div ng-controller="BuyingGuideCtrl">
  <div ng-repeat="nav in navsData" class="row">
    <span class="small-10 columns button round radius success expand text-center" ng-bind="nav.title" ng-click="showFilter(nav.key)"></span>
  </div>
  <div class="row">
    <a href='#/guide/search' class="small-6 columns button round primary text-center" ng-click="search()">חפש</a>
    <span ng-click="clearFilter()" class="small-6 columns button round secondary text-center">נקה בחירה</span>
  </div>
  <br/>
  <div class="row top-border" ng-show="showScroll">
    <div class="scrollview" scrollpositiontop visible="showScroll">
      <div class="small-12 columns" ng-repeat="item in collection" ng-click="itemClicked($index)">
        <a class="round success expand">
          <p ng-class="{ 'selected-class': $index == selectedIndex }" ng-click="filterSelected(item.value)">{{item.title}}</p>
        </a>
        <hr/>
      </div>
    </div>
  </div>
</div>