<div ng-controller="ManufacturersCtrl" class="container">
  <div ng-repeat="mf in manufacturers" >
    <div class="row breadcrumbs box-shadow">
      <header class="twelve columns text-center">
        <h3>{{mf.key}}</h3>
      </header>
    </div>

    <div ng-repeat="col in mf.collection" class="row border-bottom">
      <a href="#articles/carcatalog?isSelected" ng-click="onSelectMF(col)">
        <div class="main small-12 columns text-right">
            <p>{{col.name}}</p>
        </div>
      </a>
    </div>
  </div>
</div>