<div ng-controller="ManufacturersCtrl" class="container" ng-show="manufacturers" ng-cloak>
  <div ng-repeat="manufactur in manufacturers" >
    <div class="row breadcrumbs box-shadow">
      <header class="twelve columns text-center">
        <h3>{{manufactur.key}}</h3>
      </header>
    </div>

    <div ng-repeat="col in manufactur.collection" class="row border-bottom">
      <a href="#/catalog?isSelected" ng-click="onSelectMF(col)">
        <div class="main small-12 columns text-right">
          <p>{{col.name}}</p>
        </div>
      </a>
    </div>
  </div>
</div>
