<div ng-controller="ModelVideosCtrl" class="container">
  <div class="row" ng-switch="switchView">
    <div class="twelve columns text-right" ng-switch-default>
      <ul class="pricing-table">
        <li ng-repeat="v in videos" class="row bullet-item">
          <a href="" ng-click="changeView(v.videoUrl)">
            <div class="small-4 columns">
                    <img  class="th radius" ng-src="{{v.thumbUrl}}" >
            </div>
            <div class="main small-8 columns text-right">
                <h5>{{v.title}}</h5>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="twelve columns text-right" ng-switch-when="true">
      <div class="flex-video"><!--   widescreen vimeo -->
        <iframe src="{{videoUrl}}" allowfullscreen frameborder="0" height="450" width="100%" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
    </div>
    <div class="text-center">{{defaultVideoText}}</div>
  </div>
</div>