<div ng-controller="ModelCompetitorsCtrl" class="container">
  <div class="row">
    <div class="twelve columns text-right">
      <ul class="pricing-table">
        <a ng-repeat="c in competitors" href="#/articles/carcatalog/models/{{c.model_id}}?isSelected">
          <li class="row bullet-item">
            <div class="small-4 columns">
                    <img  class="th radius" ng-src="{{c.image_url}}" >
            </div>
            <div class="main small-8 columns text-right">
                <h5>{{c.name}}</h5>
            </div>
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>