<div ng-controller="ModelVersionDetailsCtrl" class="container"><!--  ng-show="version.lenght" ng-cloak> -->
  <div class="row">
    <h3 class="small-12 columns expand text-center">{{title}}</h3>
  </div>
  <div class="row" ng-repeat="version in versionDetails">
    <div class="small-12 columns">
      <div class="sticky">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="title text-center">{{version.key}}</li>
          </ul>
        </nav>
      </div>
    </div>
    <ul class="pricing-table">
      <li ng-repeat="version_item in version.items"  class="small-12 columns bullet-item">
        <p class="small-6 columns text-right">{{version_item.title}}</p>
        <p class="small-6 columns text-left">{{version_item.value}}</p>
      </li>
    </ul>
  </div>
</div>