<div ng-controller="AllManufacturerModelsCtrl" ng-cloak="{{models.length}}" ng-cloak>
  <div ng-repeat="model in models">
    <div class="row car-list-item" ng-click="setModel(model)">
      <div class="col-xs-4 col-lg-2 col-sm-2">
        <img class="img-responsive img-thumbnail" ng-src="{{model.image_url}}" >
      </div>
      <div class="col-xs-8 col-lg-10 col-sm-10">
        <h4 class="text-right">{{model.name}}</h4>
        <p class="text-right" texthtmlparser texthtml="{{model.price}}"></p>
      </div>
    </div>
  </div>
</div>
