<div ng-controller="ArticleCtrl" ng-show="article" class="article" ng-cloak="article.title">
  <div class="row" >
    <div class="col-xs-12 text-right image-header">
      <h3>{{article.title}}</h3>
      <span>{{article.date}}</span><span>&nbsp;{{article.author}}</span>
    </div>
    <div class="col-xxs col-xs-6 col-lg-5 col-md-6 col-sm-6">
    <img src="{{article.imageUrl}}" class="img-responsive img-thumbnail">
    </div>
    <div class="col-xxs col-xs-6 col-lg-7 col-md-6 col-sm-6 text-right aricle-subtitle">
      <h4>{{article.subTitle}}</h4>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-12 text-right">
      <articlecontentparser trustedhtml="{{article.content}}"></articlecontentparser>
    </div>
  </div>
  <hr/>
  <more-articles category-id="{{categoryId}}"></more-articles>
</div>
