<div ng-controller="ArticleListCtrl" ng-show="articlesCategoriesCollection" class="articles-list" ng-cloak>
  <div  ng-repeat="category in articlesCategoriesCollection">
    <div class="row article-header">
      <div class="col-xs-12 text-right">
        <h3>{{category.categoryName}}</h3>
      </div>
    </div>

    <div ng-repeat="article in category.articles" class="row car-list-item" ng-click="showArticle(article)">
      <div class="col-sm-6 {{colWidth}}">
        <img  class="img-responsive img-thumbnail" ng-src="{{getBigImage(article.imageUrl)}}">
      </div>
      <div class="col-sm-6 {{colWidth}}">
        <h4>{{article.title}}</h4>
        <p>{{article.subTitle}}</p>
      </div>
    </div>

    <div class="row border-bottom">
      <div class="twelve columns text-left">
        <a href="#articles/category/{{category.articles[0].categoryId}}" >
          <span>עוד...</span>
        </a>
      </div>
    </div>
  </div>
</div>
