<div ng-controller="BuyingGuideCtrl">
  <div ng-repeat="menu in menus">
    <br/>
    <select id="guide-dropdown-{{$index}}" class="col-xs-12">
      <option ng-repeat="item in menu">{{item}}</option>
    </select>
  </div>
  <div class="row">
    <br/>
    <div class="col-xs-1"></div>
    <button type="button" class="col-xs-4 btn btn-danger text-center" ng-click="search()">חפש</button>
    <div class="col-xs-2"></div>
    <button type="button" ng-click="clearFilter()" class="col-xs-4 btn btn-default text-center">נקה בחירה</button>
  </div>
  <br/>
</div>
