<div ng-controller="BuyingGuideCtrl">
  <div ng-repeat="menu in menus" class="row">
    <a href="javascript:void(0)" data-dropdown="drop-{{$index}}" class="button expand dropdown">{{menus[$index][selections[$index]]}}</a><br>
    <ul id="drop-{{$index}}" data-dropdown-content class="f-dropdown large content">
      <li ng-repeat="item in menu" ng-click="itemClicked(item,$index,$parent.$index)">
      <h3>{{item}}</h3></li>
    </ul>
  </div>
  <div class="row">
    <a href='#/guide/search' class="small-6 columns button round primary text-center" ng-click="search()">חפש</a>
    <span ng-click="clearFilter()" class="small-6 columns button round secondary text-center">נקה בחירה</span>
  </div>
</div>
