<div ng-controller="CarModelCtrl" class="model-page" ng-show="tableData.length" ng-cloak>
  <div class="row" >
    <div class="col-xs-12"><h3>{{model.name}}</h3></div>
    <div ng-if="false" class="col-xxs col-xs-6 col-sm-6">
      <img ng-src="{{model.image_url}}" class="img-responsive img-thumbnail">
    </div>
    <div ng-class="{'col-xs-12': isXXS, 'col-xs-6': !isXXS}">
      <div rn-carousel rn-carousel-control rn-carousel-buffered>
          <div ng-repeat="item in images">
            <img ng-src={{item.imageUrl}} class="img-responsive img-thumbnail" style="display: block; margin: auto;" ></img>
          </div>
      </div>
    </div>
    <!-- keeping this code for reference with ng-if false to demonstrate several images -->
    <!-- <div ng-if="false" class="col-xs-12" rn-carousel rn-carousel-control rn-carousel-buffered>
      <div ng-repeat="images in images3" >
        <div ng-repeat="item in images" class="col-xs-4">
          <img ng-src={{item.imageUrl}} class="img-responsive img-thumbnail" style="display: block; margin: auto;" ></img>
        </div>
      </div>
    </div> -->
    <!-- end of demo code -->


    <div class="col-xs-6 col-xxs sub-header">
      <hr class="hidden-xxs"></hr>
      <div class="text-right">
        <h4>קטגוריה:</h4>
      </div>
      <div class="text-left">
        <h4>{{model.category}}</h4>
      </div>
    </div>
    <div class="col-xs-6 col-xxs sub-header">
      <hr/>
      <div class="text-right">
        <h4>מחיר:</h4>
      </div>
      <div class="text-left">
        <h4 >{{model.price}}</h4>
      </div>
    </div>
    <div class="col-xs-6 col-xxs sub-header">
      <hr/>
      <div class="text-right">
        <h4>מבחני ריסוק:</h4>
      </div>
      <div class="text-left">
        <div startsimage starstext="{{model.safetyStars}}"></div>
      </div>
    </div>
    <div class="col-xs-6 col-xxs text-right">
      <hr/>
      <h4 texthtmlparser texthtml="{{model.review.summary}}">{{model.review.summary}}</h4>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 text-center">
      <a href="tel:*3262" class="btn btn-danger btn-block"><h4>לחץ כאן ליעוץ חינם על {{model.name}}</h4></a>
    </div>
  </div>
  <br/>
  <!--<div class="row">-->
  <!--<div class="col-xs-12 text-center">-->
  <!--<button type="button" class="btn btn-default btn-block">הוספה למועדפים</button>-->
  <!--</div>-->
  <!--</div>-->
  <!--<br/>-->
  <ul class="list-group" style="margin-bottom: 15px">
    <li ng-repeat="td in tableData" ng-click="navigate(td.link)" class="list-group-item">
    {{td.title}}
    </li>
  </ul>
</div>
