<div ng-controller="GuideSearchResultCtrl" infinity-scroll="addMoreItems()">
  <div ng-show="models.length" ng-cloak>
    <div ng-include=" 'templates/_modelsList' "></div>
  </div>
  <div ng-hide="empty" class="text-center">אין מידע לערכים הנוכחיים, שינוי ערכים מביא לשינוי תוצאות.</div>
  <div ng-show="busy"  class="text-center">המתן בבקשה...</div>
</div>
