<div ng-controller="IndexCtrl" class="container"  ng-show="latest.length" ng-cloak>
  <ul rn-carousel rn-carousel-indicator="true" rn-carousel-buffered="true" rn-carousel-control="true">
      <li ng-repeat="item in latest">
        <img ng-src="{{item.imageUrl}}"></img>
      </li>
  </ul>
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item list-group-item-inverse"><h4>תפריט ראשי</h4></li>
      <li ng-repeat="nav in navs" class="list-group-item"><a href="{{nav.route}}">{{nav.name}}</a></li>
    </ul>
  </div>
</div>
