<div ng-controller="ModelUsedsCtrl" class="container" ng-show="usedsModels.length" ng-cloak>
  <div class="row">
    <div class="twelve columns text-right">
      <ul class="pricing-table">
        <a ng-repeat="used in usedsModels" href="#/catalog/models/{{used.modelId}}/used?usedID={{used.usedId}}">
          <li class="row bullet-item">
            <div class="small-4 columns">
              <img  class="th radius" ng-src="{{used.image_url}}" >
            </div>
            <div class="main small-8 columns text-right">
              <h5>{{used.name}}</h5>
            </div>
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>
