<div ng-controller="ModelsCtrl" class="container" ng-show="models" ng-cloak>
  <div class="row">
    <ul class="button-group small-12 columns">
      <li ng-repeat="option in optionsArr" ng-click="itemClicked($index)">
        <div ng-class="{'success': $index == selectedIndex}" class="button secondary round">{{option.name}}</div>
      </li>
    </ul>
  </div>
  <ul class="pricing-table">
    <div ng-repeat="model in models" >
      <li class="title">{{model.key}}</li>
      <a ng-repeat="colItem in model.collection" href="#catalog" ng-click="onSelectM(colItem)">
        <li class="row bullet-item">
          <div class="expand text-right">
            <p>{{colItem.name}}</p>
          </div>
        </li>
      </a>
    </div>
  </ul>
</div>
