<div class="slider contain">
    <div ng-repeat="item in items">
      <div class="contain slide slide-animation nonDraggableImage"
            ng-swipe-right="prevSlide()" ng-swipe-left="nextSlide()"
            ng-if="isCurrentSlideIndex($index)"
            ng-class="direction" ng-transclude>
      </div>
    </div>
    <a class="arrow prev" href="" ng-click="nextSlide()"></a>
    <a class="arrow next" href="" ng-click="prevSlide()"></a>
</div>
<nav class="nav" ng-if="showdots">
  <div class="wrapper">
    <ul class="dots">
      <li class="dot" ng-repeat="item in items">
            <a href="" ng-class="{'active':isCurrentSlideIndex($index)}"
                ng-click="setCurrentSlideIndex($index);"></a>
        </li>
    </ul>
  </div>
</nav>


