// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sm-width{
  width: 150px;
}

.image-header{
  background-color: rgba(110, 110, 100, 0.5);
  position:absolute;
  display:block;
  font-weight: bolder;
}

.image-magazine{
  height: 240px;
  width:100%;
}

// .pricing-table > li{
//   padding-bottom: 0px;
// }

.li-bg-color{
  background-color: chocolate;
}

.auto-version-included-item{
  background-image: url(http://auto.co.il/Layouts/default/bgImages/extra_adv.gif) !important;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  height: 10px;
  // margin-left: 10px;
}

.scrollview{
  height: 300px;
  overflow-y: auto;
  border-color: transparent;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  background-color: lightgray;
  -webkit-box-shadow: 0px 0px 13px 5px rgba(163,160,163,0.82);
  -moz-box-shadow: 0px 0px 13px 5px rgba(163,160,163,0.82);
  box-shadow: 0px 0px 13px 5px rgba(163,160,163,0.82);
}

.top-border{
  border-color: black;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  background-color: black;
}

.selected-class {
  text-decoration:underline;
  font-size: large;
  font-weight: bold;
  color:blue;
}

.orbit-bullets, .touch .orbit-bullets{
  display: table;
  text-align: center;
}

.orbit_img {
  margin: 0 auto;
  min-height: 150px;
  height: auto;
}

.orbit-container .orbit-slides-container > * .orbit-caption.under-line
{
  position: relative;
  bottom:-1px;
}

.row.border-bottom {
  border-bottom: 1px solid #BDC0C4;
}

.box-shadow
{
box-shadow: 1px 1px 0.3px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


/* loading-bar-css : Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #29d 1px 0 6px 1px;
  -ms-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #29d;
  border-left-color: #29d;
  border-radius: 10px;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}