// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sm-width{
  width: 150px;
}

.image-header{
  background-color: rgba(110, 110, 100, 0.5);
  position:absolute;
  display:block;
  margin-right: 10px;
}

.image-magazine{
  height: 240px;
  width:100%;
}

.orbit-bullets, .touch .orbit-bullets{
  display: table;
  text-align: center;
}

.orbit_img {
  margin: 0 auto;
}
