// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// this is for -webkit browser to remove the darg event.
// this is needed for the angular slider for the ng-touch event to work

$brand-danger:          #EC1B23 !default;
$auto-red: $brand-danger;
$state-danger-text:              white !default;
$state-danger-bg:                #EC1B23 !default;
@import "bootstrap";
body {padding-top: 50px;}

.automag-app {
  .contain {
    display: block;
    overflow: hidden;
    height: 1%;
  }

  @media (max-width: 499px) {
    .col-xxs {
      display:block;
      float:none;
      width: 100%;
      &.carousel-item {
        padding: 0;
      }
    }
    .hidden-xxs {
      visibility: hidden;
    }
  }

  @media (min-width: 500px) and (max-width: 767px) {
    .carousel-item {
      padding-right: 0px;
    }
  }

  .rn-carousel-container {
    direction: ltr;
  }
  .rn-carousel-indicator {
    display: inline-block;
    background: none;
    height: initial;
    span {
      display: inline-block;
      &.active {
        color: red;
      }
    }
  }

  .model-page, .index-page {
    .rn-carousel-control {
      margin-top: -20px;
      font-size: initial;
      opacity: 1;
    }
    .rn-carousel-control.rn-carousel-control-prev:before {
      content: image_url('carousel-left.png');
    }
    .rn-carousel-control.rn-carousel-control-next:before {
      content: image_url('carousel-right.png');
    }
  }


  .list-group-item-inverse {
    color: white;
    background-color: #222;
    border-color: #090909;
  }

  //override bootstrap select values to make it rtl
  .bootstrap-select.btn-group .btn {
    .caret {
      left: 12px;
      right: initial;
    }

    .filter-option {
      float: right;
      text-align: right;
      &.pull-left {
        float: right !important;
      }
    }
  }

  .car-list-item {
    h4 { margin: 0; }
    padding: 5px 0px;
    border-bottom: solid 1px #222;
  }

  .articles-list {
    h4 { margin: 0; }
    .article-header {
      h3 { margin: 0; }
      background-color: $auto-red;
      color: white;
    }

    .more-in-category {
      background-color: #222;
      a {
        color: white;//#EC1B23;
      }
      margin-bottom: 2px;
      //padding: 5px 0;
      h3 {margin:0}
    }
  }

  .article {
    hr {
      border-top: 1px solid #222;
    }
    h4 { font-weight: bold; }
    div { font-size: 18px !important; }
  }

  .model-page {
    hr {
      margin: 0 0 10px 0;
      border-top: 1px solid #ddd;
    }

    .sub-header {
      margin-bottom: 10px;
      display: block;
      overflow: hidden;
      height: 1%;
      div,h4 { display: inline;}
      .text-right { float: right; }
      .text-left {float: left; }
    }
  }
  .carusela-lapanim {
    .img-thumbnail.active {
      border-color: #222;
    }
    .side-image {
      padding: 0 0 5px;
    }

    .carousel-item {
      h3 { margin-top: 0; }
    }
  }

  .index-header {
    h4 {margin: 0; }
    //    background-color: $auto-red;
  }

}
/*.nonDraggableImage{*/
/*-webkit-user-drag: none;*/
/*-moz-user-drag: none;*/
/*-khtml-user-drag: none;*/
/*-o-user-drag: none;*/
/*user-drag: none;*/
/*}*/


.arrow {
  position: absolute;
  z-index: 1002;
  display: block;
  top: 40%;
  margin-top: -35px;
  width: 36px;
  height: 71px;
  outline: none;
  cursor: pointer;
  background: url(../assets/img/blank.gif) no-repeat;
}

.arrow.prev {
  opacity: 0.2;
  left: 20px;
  background-image: url(http://onehungrymind.com/demos/slider-touch/assets/img/paddle_prev_999.png);
  transition: 0.2s linear all;
}

.arrow.next {
  opacity: 0.2;
  right: 20px;
  background-image: url(http://onehungrymind.com/demos/slider-touch/assets/img/paddle_next_999.png);
  transition: 0.2s linear all;
}

.arrow.prev:hover {
  opacity: 1;
  background-image: url(http://onehungrymind.com/demos/slider-touch/assets/img/paddle_prev_fff.png);
}

.arrow.next:hover {
  opacity: 1;
  background-image: url(http://onehungrymind.com/demos/slider-touch/assets/img/paddle_next_fff.png);
}



/// sahar css

.auto-version-included-item{
  background-image: url(http://auto.co.il/Layouts/default/bgImages/extra_adv.gif) !important;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  height: 10px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}



